<html>
<head>
    <meta charset="utf-8" />
    <title>Cadastro</title>
    <link rel="stylesheet" href="Style.css">
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
    <div id="app">
        <div class="cadastroBox">
            <h2> Cadastro de erro</h2>
            <form>
                <p>Titulo</p>
                <input type="text" name="" placeholder=" Título do erro" />
                <p>Produto</p>
                <input type="text" name="" placeholder="Qual dos nossos produtos tem erro" />
                <p>Severidade</p>
                <p><a>Baixa</a><input type="checkbox" name=""></p>
                <p><a>Media</a><input type="checkbox" name=""></p>
                <p><a>Alta</a><input type="checkbox" name=""></p>
                <p>E-mail</p>
                <input type="text" name="" placeholder="E-mail de contato" />
                <p>Descrição</p>
                <textarea></textarea>
                <p>Imagem</p>
                <p>Comentario</p>
                <textarea></textarea>
                <p>Corrigido</p>
                <input type="checkbox" name=""><a>sim</a>
                <input type="checkbox" name=""><a>não</a>
                <input type="submit" name="" value="Salvar" />

            </form>
        </div>
    </div>

    <script type="text/javascript">

         var app = new Vue({


           el: "#app",


                          })

    </script>
</body>


</html>