<html>
   <head>
       <meta charset="utf-8" />
       <title>Login</title>
       <link rel="stylesheet" href="Style.css">
       <script src ="https://unpkg.com/vue"></script>
   </head>
   <body>
       <div id="app">
           <div class="loginBox">
               <img src="../Imagens/icon-desenvolvedor.png" class="user" />
               <h2> Login</h2>
               <form>
                   <p>User</p>
                   <input type="text" name="" placeholder=" Enter Email" />
                   <p>Password</p>
                   <input type="password" name="" placeholder="******" />
                   <input type="submit" name="" value="Sign In" />

               </form>
           </div>
       </div>

       <script type="text/javascript">
       
         var app = new Vue({


           el: "#app",


                          })

       </script>
   </body>


</html>